html {
	font-family:'Times New Roman', Times, serif;
	color: lightgrey;
}

body {
	margin: 4% 5%; /*tb -- lr*/
}

ul {
	display: grid;
	grid-gap: 20px;
	padding: 0;
	list-style: none;
	grid-template-columns: repeat(3, 1fr);
}

ul a {
	background: grey;
	color: lightgrey;
	font-size: 1.6rem;
	display: block;
	text-decoration: none;
	padding: .8rem;
	text-align: center;
}

ul a:hover {
	background: lightgrey;
	color: grey;
	transition: background 0.5s ease-in-out;
}

#container {
	display: grid;
	grid-gap: 20px;
	margin-top: 4%;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 30% 30% 30% 30% 8%;
	grid-template-areas:
	"a a a a"
	"b b b b"
	"c c c c"
	"d d d d"
	"e e e e"
}

h1 {
	font-size: 2rem;
	font-family:'Times New Roman', Times, serif;
	margin: 0;
	padding: 0;
}

.showing {
	list-style: circle;
}

.a {
	grid-area: a;
	background: gray;
	padding: 2rem;
}

.b {
	grid-area: b;
	background: gray;
	padding: 2rem;
}

.c{
	grid-area: c;
	background: gray;
	padding: 2rem;
}

.d {
	grid-area: d;
	background: gray;
	padding: 2rem;
}

footer {
	grid-area: e;
	margin-top: 2rem;
	background: darkgrey;
	color: lightgrey;
	text-align: center;
	margin-bottom: 2rem;
}

a#selected {
  color: darkgrey;
}

@media(max-width: 700px){
	ul {
		grid-template-columns: 1fr;
	}

#container {
	grid-template-columns: 1fr;
	grid-template-rows: 20% 20% 20% 20% 8%;
	grid-template-areas:
		"a"
		"b"
		"c"
		"d"
		"e"
}

}
